<h1 mat-dialog-title>Create new user</h1>
<div mat-dialog-content>
  <p>What's the name of the new user?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</div>
