<form [formGroup]="userForm">

    <mat-form-field appearance="fill">
        <mat-label>Edit user name</mat-label>
        <input matInput formControlName="name">
        <mat-hint *ngIf="originalName !== userForm.value.name">Original name: {{ originalName }}</mat-hint>
    </mat-form-field>

</form>

<button mat-button (click)="dialogRef.close()">No Thanks</button>
<button mat-button [mat-dialog-close]="updateUser()" cdkFocusInitial>Ok</button>
