<div class="content">
    <h3>Theme Selector</h3>

    <section>
        <mat-slide-toggle [checked]="themeService.darkmode" (change)="themeService.darkmode = $event.checked" color=primary>Darktheme</mat-slide-toggle>
    </section>
    <br><br>
    <section>
        <mat-form-field>
            <mat-label>Themes</mat-label>
            <select matNativeControl (change)="updateTheme($event)">
                <option *ngFor="let theme of themeService.themes" [selected]="themeService.theme === theme.key"
                    [value]="theme.key"> {{ theme.name }} </option>
            </select>
        </mat-form-field>
    </section>
</div>