<form [formGroup]="guestForm">

  <div class="guest-container">

    <mat-list formArrayName="guests" *ngFor="let guest of guests.controls; let i=index">
      <mat-list-item [formGroupName]="i">
        <mat-form-field>
          <input  matInput
                  type="text"
                  placeholder="Guest"
                  formControlName="name">
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeGuest(i)" type="button">
            <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="spacer"></div>

  <button
      (click)="addGuest()"
      type="button"
      mat-raised-button
      color="primary"
      >Add Guest
  </button>

</form>