.thrown-darts
    margin: auto 20px

.player-list
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0

    display: grid
    grid-template-columns: 1fr 1fr
    grid-auto-rows: 12.5% 12.5% 0px

    > .player
        grid-column-start: 2
        &:first-of-type
            grid-column-start: 1
            grid-row-start: 1
            grid-row-end: 3
        // only show first three players
        &:nth-child(n + 4)
            visibility: hidden

    @media (min-aspect-ratio: 77/100)
        width: 50%
        grid-template-columns: 100%
        grid-auto-rows: 1fr
        > .player
            visibility: visible
            grid-column-start: 1
            &:first-of-type
                grid-row-end: 2
            // unhide player 4ff
            &:nth-child(n + 4)
                visibility: visible
