<mat-grid-list #keyboardInput cols="6" rowHeight="fit" class="keyboard-input">

    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <button mat-flat-button (click)="toggleMultiplier(2)" color="{{this.multiplier === 2 ? 'accent' : 'primary'}}">
            Double
        </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <button mat-flat-button (click)="toggleMultiplier(3)" color="{{this.multiplier === 3 ? 'accent' : 'primary'}}">
            Triple
        </button>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let score of scores" [colspan]="2" [rowspan]="1">
        <button mat-flat-button color="primary" (click)="numberInput(score)">
            {{ score }}
        </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <button mat-flat-button color="primary" (click)="numberInput(25)">
            Bull
        </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <button mat-flat-button color="primary" (click)="undo.emit()">
            Undo
        </button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <button mat-flat-button color="primary" (click)="missed.emit()">
            Missed
        </button>
    </mat-grid-tile>
</mat-grid-list>
