<mat-form-field class="user-form-field">
  <mat-label>Users</mat-label>
  <mat-select [formControl]="userForm" multiple>
    <mat-option *ngFor="let user of userList" [value]="user">{{user.name}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="add-user-button" layout="row" layout-fill layout-align="center center">
  <button mat-mini-fab color="primary" (click)="addUser()" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>
</div>