<mat-vertical-stepper linear #stepper>
    <mat-step>
        <ng-template matStepLabel>Welcome!</ng-template>
        DartsTrainer is a web-based application, that supports you playing darts and keeps track of your statistics.
        Even though it is web based, you don't need any kind of registration to use it, and all of your private
        data is stored on your device and never published to our servers!
    </mat-step>
    <mat-step [stepControl]="playerForm">
        <ng-template matStepLabel>Personal Information</ng-template>
        <p>Please choose a name that will be displayed for your user</p>
        <form [formGroup]="playerForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Get started</ng-template>
        <ng-container>
            <p>Ready to play! We hope you enjoy our app!</p>
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="!playerForm.valid">Start</button>
        </ng-container>
    </mat-step>
</mat-vertical-stepper>
