.loading-shade
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(0, 0, 0, 0.15)
  z-index: 1
  display: flex
  align-items: center
  justify-content: center

.container
  display: flex
  flex-direction: column
  align-items: center

.mat-form-field, .mat-table
  width: 90%

.action-button
  margin: .3rem
