<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="container">
    <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search for a user" #input>
    </mat-form-field>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <!-- Games Column -->
        <ng-container matColumnDef="gamesCount">
            <th mat-header-cell *matHeaderCellDef> Games played </th>
            <td mat-cell *matCellDef="let element"> {{ element.gamesCount }} </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button class="action-button" mat-mini-fab color="primary" (click)="editUser(element)">
                    <mat-icon aria-label="icon-button with pencil">edit</mat-icon>
                </button>
                <button class="action-button" mat-mini-fab color="warn" (click)="deleteUser(element)">
                    <mat-icon aria-label="icon-button with trash can">delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Row definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No user matching "{{ input.value }}"</td>
        </tr>
    </table>
</div>