<h1 mat-dialog-title>{{ data.player.name }} has finished!</h1>

<div mat-dialog-content>
  <table mat-table [dataSource]="players">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let player; let i = index;"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let player"> {{player.name}} </td>
    </ng-container>

    <!-- Average Column -->
    <ng-container matColumnDef="average">
      <th mat-header-cell *matHeaderCellDef> Average </th>
      <td mat-cell *matCellDef="let player"> {{ getAverage(player) | number:'1.0-2' }} </td>
    </ng-container>

    <!-- Darts Column -->
    <ng-container matColumnDef="darts">
      <th mat-header-cell *matHeaderCellDef> Darts </th>
      <td mat-cell *matCellDef="let player"> {{ player.darts.length }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div mat-dialog-actions *ngIf="isGameOver else unfinished">
  <button mat-button (click)="exit('exit')">End game</button>
  <button mat-button (click)="exit('restart')" cdkFocusInitial>Restart</button>
</div>

<ng-template #unfinished>
  <div mat-dialog-actions>
    <button mat-button (click)="exit('exit')">End game</button>
    <button mat-button (click)="exit('restart')">Restart</button>
    <button mat-button (click)="exit('continue')" cdkFocusInitial>Continue</button>
  </div>
</ng-template>
