<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      attr.role="navigation"
      mode="side"
      opened="false">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
        <a *ngFor="let entry of entries" mat-list-item [routerLink]="entry.link" (click)="drawer.close()">
          <mat-icon>{{ entry.icon }}</mat-icon>
          <p>{{ entry.name }}</p>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="menu-button"
        type="button"
        [style]="dynamicButtonStyle()"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ toolbarTitle }}</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
