.sidenav-container
  height: 100%
  position: static
  z-index: 2

.sidenav
  width: 200px

.sidenav .mat-toolbar
  background: inherit

// only used with toolbar
// .mat-toolbar.mat-primary
//   position: sticky
//   top: 0
//   z-index: 1

.menu-button
  position: absolute
  top: 10px
  left: 10px
  z-index: 1
  color: white

.mat-toolbar span
  margin-left: 40px

.mat-nav-list p
  margin-left: .3rem
