.options-form
    text-align: center
    mat-slide-toggle
        margin: 10px 100px

.points-slider
    margin-top: 40px
    mat-slider
        margin-right: 25px
        width: 280px

.points-input
    width: 80px
